@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background: #f5f5f5;
    font-family: sans-serif;
}
#form{
    height: 200px;
    width: 300px;
    margin: 50px auto 20px auto;
    @include center;
    flex-direction: column;
    border: 1px solid #ccc;
    gap: 15px;
    border-radius: 10px;
    label{
        font-size: 22px;
    }
    input{
        height: 32px;
        width: 200px;
        font-size: 18px;
        padding: 3px 5px;
        border-radius: 5px;
        border: 1px solid black;
    }
    #submit{
        border-radius: 10px;
        width: 150px;
        padding: 0px;
        background: black;
        color: white;
        cursor: pointer;
    }
}
.user{
    width: 320px;
    padding: 10px 0px;
    margin:auto;
    @include center;
    gap: 15px;
    .photo{
        width: 100%;
        @include center;
        flex-direction: column;
        gap: 10px;
        p{
            text-align: center;
            font-size: 14px;
        }
        h2{
            text-align: center;
        }
        img{
            height: auto;
            width: auto;
        }
    }   
}