@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background: #f5f5f5;
    font-family: sans-serif;
}

#form{
    height: 200px;
    width: 50vw;
    margin: auto;
    @include center;
    flex-direction: column;
    border: 1px solid #ccc;
    gap: 15px;
    label{
        font-size: 22px;
    }
    input{
        height: 30px;
        width: 200px;
        font-size: 18px;
        padding: 3px 5px;
        border-radius: 5px;
        border: 1px solid black;
    }
    #submit{
        border-radius: 10px;
        width: 150px;
        padding: 0px;
        border: 1px solid black;
        background: black;
        color: white;
        cursor: pointer;
    }
}
.user{
    height: 300px;
    width: 50vw;
    margin: 20px auto;
    border: 1px solid red;
    @include center;
    gap: 15px;
    .photo{
        height: 90%;
        width: 30%;
        border: 1px solid orange;
    }   
    .info{
        height: 90%;
        width: 65%;
        border: 1px solid black;
    }
}